streamlit
streamlit-option-menu
streamlit-extras

langchain
langchain-community
langchain-groq
langchain-huggingface

huggingface-hub

pypdf

faiss-cpu

selenium
webdriver-manager

python-dotenv

sentence-transformers>=2.6.0
transformers>=4.41.0

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu