streamlit
langchain
langchain-groq
langchain-huggingface
huggingface-hub
PyPDF2
faiss-cpu
selenium
webdriver-manager
python-dotenv

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu
streamlit-option-menu
streamlit-extras
langchain-community
